
/* .featured-stories {
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column: 3/10;
    align-content: center;
    align-items: center;
    text-align: center;
    border-bottom-style: groove;
    margin: 10px 0px 0px 0px;
} */

.news-featured-wrapper {
    height:450px;
    overflow: hidden;
}


.news-carousel-image {
    background-size: 100% 100% !important;
    height: 250px;
}

/* hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    position: relative;
} */